/*FONT*/
@font-face {
  font-family: 'proximanova';
  src: url("//clients.contentcowboys.eu/mychannls/font/proximanovacond-light.eot");
  src: url("//clients.contentcowboys.eu/mychannls/font/proximanovacond-light.eot?#iefix") format("embedded-opentype"), url("//clients.contentcowboys.eu/mychannls/font/proximanovacond-light.woff") format("woff"), url("//clients.contentcowboys.eu/mychannls/font/proximanovacond-light.ttf") format("truetype"), url("//clients.contentcowboys.eu/mychannls/font/proximanovacond-light.svg#aachenefregular") format("svg");
  font-weight: normal;
  font-style: normal; }

/*FONT END*/
.clearingDiv {
  clear: both;
  height: 0; }

/* OVERLAY */
#overlay {
  background-color: #262626;
  opacity: 0.95;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";
  filter: alpha(opacity=95);
  -moz-opacity: 0.95;
  -khtml-opacity: 0.95;
  opacity: 0.95;
  position: fixed;
  height: 100%;
  width: 100%; }

#overlay, #overlayContent {
  top: 0;
  z-index: 1000;
  position: fixed;}

#overlayContent {
  position: absolute;
}
#overlayContent #topbar {
  width: 96%;
  z-index: 1;
  margin: 0 2% 10px 2%; }
#overlayContent  {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  cursor: default; }
#overlayContent .videoFrame {
  float: left;
  margin: 10px;
  padding: 20px;
  width: 180px;
  height: 84px;
  background-size: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=9)";
  filter: alpha(opacity=9);
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  opacity: 0.9;
  position: relative; }
#overlayContent .videoFrame .videoTitle {
  position: absolute;
  bottom: 35px;
  width: 180px;
  overflow: hidden; }
#overlayContent .videoFrame p {
  text-shadow: 1px 1px #262626;
  text-shadow: 1px 1px rgba(38, 38, 38, 0.2);
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  font-family: "proximanova"; }
#overlayContent .videoFrame .by {
  font-size: 10px;
  position: absolute;
  bottom: 10px; }
#overlayContent .videoFrame .name {
  font-size: 14px; }
#overlayContent .close, #overlayContent .videoFrame {
  cursor: pointer; }
#overlayContent .close {
  font-size: 48px;
  color: #f25d50;
  font-weight: lighter;
  float: right; }

#overlayContent #noVideo{
  background-image: url('//clients.contentcowboys.eu/mychannls/img/back.png');
  background-repeat: no-repeat;
  background-color: #f5f5f5;
  position: absolute;
  width: 350px;
  height: 315px;
  padding:  100px 150px 0 230px;
  left: -365px;
  font-family: "proximanova"; }

#overlayContent #noVideo h1{
  font-size: 24px;
  margin-bottom: 5px;
}
#overlayContent #noVideo p{
  font-size: 14px;
}
#overlayContent #btnClose{
  margin-top: 30px;
  width: 128px;
  height: 53px;
  padding: 30px 0 0 20px;
  background-image: url('//clients.contentcowboys.eu/mychannls/img/close.png');
  display: block;
  color: white;
  font-size: 24px;
}

#overlayContent #btnClose:hover{
  text-decoration: none;
}
.addVideo{
  position: absolute;
  top: 0;
  left: 0;
  /*-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;*/
  z-index: 1;
  width: 100%;
}

#overlayContent .videoOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4e4e4e;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=17)";
  filter: alpha(opacity=17);
  -moz-opacity: 0.17;
  -khtml-opacity: 0.17;
  opacity: 0.17;
}

/*HOVER*/
.videoFrame .addVideo{
   opacity: 1;
   /*transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;*/
}

.videoFrame:hover.addVideo{
   opacity: 1;
   display: block;
   /*transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;*/
}
/*HOVER*/