<a href="javascript: (function () {var jsCode = document.createElement('script');jsCode.setAttribute('src', '//clients.contentcowboys.eu/mychannls/mychannls.js');document.body.appendChild(jsCode);}())">Add to MyChannl</a>

<a href="javascript: (function () {var jsCode = document.createElement('script');jsCode.setAttribute('src', '//clients.contentcowboys.eu/mychannls/mychannls.min.js');document.body.appendChild(jsCode);}())">Add to MyChannl (minified)</a>